{% extends 'basedash.html.twig' %}

{% block title %}Laverie index{% endblock %}

{% block body %}

    <h1>Laverie index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>NomLaverie</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for laverie in laveries %}
            <tr>
                <td>{{ laverie.id }}</td>
                <td>{{ laverie.nomLaverie }}</td>
                <td>
                    <a href="{{ path('app_laverie_show', {'id': laverie.id}) }}" class="btn btn-primary">Voir</a>
                    <a href="{{ path('app_laverie_edit', {'id': laverie.id}) }}" class="btn btn-primary">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucune laverie trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_laverie_new') }}" class="btn btn-primary">Ajouter une!</a>
{% endblock %}
