{% extends 'basedash.html.twig' %}

{% block title %}Laverie{% endblock %}

{% block body %}
    <h1>Laverie</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ laverie.id }}</td>
            </tr>
            <tr>
                <th>NomLaverie</th>
                <td>{{ laverie.nomLaverie }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('laveries') }}" class="btn btn-primary">Revenir à la liste</a><br>

    <a href="{{ path('app_laverie_edit', {'id': laverie.id}) }}" class="btn btn-primary">Modifier</a><br>

    {{ include('laverie/_delete_form.html.twig') }}
{% endblock %}
