{% extends 'marketplace/index.html.twig' %}

{% block body %}
    <main class="container">
        <section class="row">
            <div class="col-12">
                <h1>Panier</h1>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Produit</th>
                            <th>Prix</th>
                            <th>Quantité</th>
                            <th>Total</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for element in data %}
                            <tr>
                                <td>{{ element.produit.nomProduit }}</td>
                                <td>{{ element.produit.prix }} TND</td>
                                <td>{{ element.quantity }}</td>
                                <td>{{ element.quantity * element.produit.prix  }} TND</td>
                                <td>
                                    <a href="{{ path('add', {id: element.produit.id}) }}" class="btn btn-success">+</a>
                                    <a href="{{ path('remove', {id: element.produit.id}) }}" class="btn btn-warning">-</a>
                                    <a href="{{ path('delete', {id: element.produit.id}) }}" class="btn btn-danger">Supprimer</a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="5">Votre panier est vide</td>
                            </tr>    
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="3">Total</td>
                            <td>{{ total  }} TND</td>
                            <td>
                                <a href="{{ path('empty') }}" class="btn btn-danger">Vider</a>
                            </td>
                        </tr>
                    </tfoot>
                </table>
                
            </div>
            <a href="{{ path('passer_commande') }}" class="btn btn-success">Passer la commande</a>
        <a href="{{ path('app_etudiant_produit_index') }}" class="btn btn-primary">Continuer vos achats</a>
        </section>
    </main>
{% endblock %}