{% extends 'basedash.html.twig' %}

{% block title %}Chambre index{% endblock %}

{% block body %}

    <h1>Chambre index</h1>
   

    <table class="table">
        <thead>
            <tr>
                <th>IdChambre</th>
                <th>NumChambre</th>
                <th>Etage</th>
                <th>Capacite</th>
                <th>Type</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for chambre in chambres %}
            <tr>
                <td>{{ chambre.idChambre }}</td>
                <td>{{ chambre.numChambre }}</td>
                <td>{{ chambre.etage }}</td>
                <td>{{ chambre.capacite }}</td>
                <td>{{ chambre.type }}</td>
                <td>
                    <div class="d-inline-flex"> <button type="button" class="btn btn-primary" onclick="window.location.href='{{ path('app_chambre_show', {'idChambre': chambre.idChambre}) }}'">Voir</button>
                        <button type="button" class="btn btn-warning" onclick="window.location.href='{{  path('app_chambre_edit', {'idChambre': chambre.idChambre}) }}'">Modifier</button>
                    
                        <form method="post" action="{{ path('app_chambre_delete', {'idChambre': chambre.idChambre}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ chambre.idChambre) }}">
                            <input type="hidden" name="_method" value="DELETE"> <button class="btn btn-danger">Supprimer</button>
                        
                        </form>
                    </div>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    

    <a href="{{ path('app_chambre_new') }}"class="btn btn-success">Créer une nouvelle chambre</a>
{% endblock %}
