{% extends 'base.html.twig' %}

{% block title %}Réservations par Date{% endblock %}

{% block body %}
<h1>Réservations entre {{ startDate|date('d/m/Y') }} et {{ endDate|date('d/m/Y') }}</h1>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Date</th>
            <th>Chambre</th>
            <th>Statut</th>
        </tr>
    </thead>
    <tbody>
        {% for reservation in reservations %}
            <tr>
                <td>{{ reservation.idReservationChambre }}</td>
                <td>{{ reservation.anneeUniversitaire|date('d/m/Y') }}</td>
                <td>{{ reservation.chambre.numChambre }}</td>
                <td>{{ reservation.estValide ? 'Validée' : 'Non Validée' }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucune réservation trouvée pour cette période.</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
